* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
   
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #913560;
    font-size: 13px;
    margin: 0;    
}
   
input, textarea, select{
    font-family: arial;
    color: #913560;
    font-size: 14px;
}
   
p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
}
   
img {
    max-width: 100%;
}
   
ul {
    padding-left: 0;
    margin-bottom: 0;
}
   
a:hover {
    text-decoration: none;
}
   
:focus {
    outline: none;
}
   
.inner {
    padding: 20px;
    background: #fff;
    max-width: 100%;
    margin: auto;
    display: flex;
}

.inner .image-holder {
    width: 45%;
}

.inner form {
    width: 50%;
    padding-top: 10%;
    padding-left: 45px;
    padding-right: 45px;
}

.inner h3 {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 28px;
}
   
.form-group {
    display: flex;
}

.form-group input {
    width: 50%;
}

.form-group input:first-child {
    margin-right: 25px;
}
   
.form-wrapper {
    position: relative;
}

.form-wrapper i {
    position: absolute;
    bottom: 9px;
    right: 0;
}
   
.form-control {
    border: 1px solid #913560;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-bottom: 25px; 
}

.form-control::-webkit-input-placeholder {
    font-size: 14px;
    color: #575353;
    font-family: arial;
}
     
select {
    font-size: 14px;
    font-family: arial;
    cursor: pointer;
    padding-left: 20px; 
    color: #575353;
}

select option[value=""][disabled] {
    display: none;
}
   
.botao {
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 40px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #913560;
    font-size: 15px;
    color: #fff;
}

.um {
    float:left;
}

.dois {
    float:left;
}

.botao:hover{
    background: or;
}
   
@media (max-width: 767px) {
    .inner {
      display: block;
    }
    
    .inner .image-holder {
        width: 100%;
    }
    
    .inner form {
        width: 100%;
        padding: 40px 0 30px;
    }
   
    .botao {
      margin-top: 60px;
    }
}